<body>
  <div class="back-button">
    <a href="/" class="back">Back</a>
  </div>

  <div class="logo2">
    <img src="/images/LogoSVG.svg">
  </div>

  <div class="login-page">
    <div class="form">
      <form class="login" role="form" id="login-form">
        <input type="text" placeholder="Username" id="inputUsername">
        <input type="text" placeholder="Password" id="inputPassword">
        <button type="submit">Sign In</button><br>
	<div class="g-signin2" data-onsuccess="onSignIn" data-width="270" data-longtitle="true"></div>
        <p class="message">New to us? <a href="/users/register">Sign Up</a></p>
          <p class="message2"><a href="#" onclick="signOut();">Sign out</a></p>
      </form>
    </div>
  </div>
</body>

