.box {
  margin-top: 80px;
  margin-left: 220px;
  width: 300px;
  height: 200px;
  background: #528436;
  border-radius: 25px;
  border-style: solid;
  border-width: 10px;
  border-color: #7CE577;
}

.box p {
  color: #7CE577;
  font-family: 'PingFang TC';
  font-size: 10px;
  margin-top: 1px;
  margin-left: 30px;
  font-weight: 1;
}

.box h1 {
  color: white;
  font-family: 'PingFang TC';
  font-size: 16px;
  margin-left: 30px;
  padding-top: 50px;
  font-weight: 1;
}

.box #head {
  padding: 0px;
  margin: 0px;
  margin-left: 30px;
  color: white;
  font-family: 'PingFang TC';
  font-size: 12px;
  font-weight: 1;
}

#box2 {
  float: right;
  margin-right: 220px;
  border-color: #FFC857;
  background-color: #987122;
}

#box1 {
  float: left;
}

#box2 p {
  color: #FFC857;
}

.back-button2 {
  margin-top: 8px;
  margin-left: 5px;
  position: absolute;
}

.back-button2 .back {
  font-family: 'PingFang TC';
  text-decoration: none;
  color: #393B44;
  font-weight: 400;
}

.back-button2 .back:hover {
  color: black;
}

.circle {
  margin-top: -35px;
  margin-left: -35px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  background-color: #7CE577;
}

#circle2 {
  background-color: #FFC857;
}

#envelope {
  margin-left: 35px;
  margin-top: 35px;
  color: white;
  transform: scale(2.5);
}

#message {
  margin-left: 35px;
  margin-top: 35px;
  color: white;
  transform: scale(2.5);
}

.logo3 {
  height: 140px;
  width: 140px;
  margin-left: auto;
  margin-right: auto;
}

.logo3 img {
  margin-top: 8px;
  margin-bottom: 1px;
}

#title1 {
  font-size: 20px;
  color: #393B44;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-family: 'PingFang TC';
}

