.login-page {
  width: 360px;
  padding: 0.1% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: 'PingFang TC';
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: 'PingFang TC';
  outline: 0;
  background: #7CE577;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover, .form button:active {
  background: #6CC768;
}

.form .message {
  margin-top: 5px;
  color: #939496;
  font-size: 12px;
  font-family: 'PingFang TC';
}

.form .message a {
  color: #7CE577;
  text-decoration: none;
}

.form .message a:hover{
  color: #6CC768;
}

.form .register {
  display: none;
}

.logo2 {
  height: 180px;
  width: 180px;
  margin: auto;
  margin-top: 80px;
}

.back-button {
  margin-top: -72px;
  margin-left: 5px;
  position: absolute;
}

.back-button .back {
  font-family: 'PingFang TC';
  text-decoration: none;
  color: #393B44;
  font-weight: 400;
}

.back-button .back:hover {
  color: black;
}
